#zdicdiv {
	width: 240px;
	height: 300px;
	border: 2px solid gray;
}

#zdiciframe {
	width: 240px;
	height: 280px;
	border: none;
}

#zdichelp {
	width: 240px;
	text-align: center;
}

.zdiclink {
	cursor: pointer;
	color: blue;
}

#zdicbutton[enableSelect] {
  list-style-image: url("chrome://zdic/skin/logo16.png");
}

#zdicbutton {
  list-style-image: url("chrome://zdic/skin/logogray16.png");
}
